[Desktop Entry]
Name=FileInsight
Categories=Utility;Qt;FileTools;
Exec=fileinsight
# We don't have our own icon yet, unfortunately :(
Icon=search
Terminal=false
Type=Application
StartupNotify=false
Keywords=File;Type;Identifier;Identify;Search;Files;Lookup;
