Source: fileinsight
Section: utils
Priority: optional
Maintainer: James Lu <jlu@debian.org>
Build-Depends: debhelper-compat (= 13),
 qt5-qmake,
 libmagic-dev,
 qtbase5-dev,
 qtbase5-dev-tools
Standards-Version: 4.6.2
Homepage: https://github.com/jlu5/fileinsight
Vcs-Git: https://github.com/jlu5/fileinsight
Vcs-Browser: https://github.com/jlu5/fileinsight/tree/debian

Package: fileinsight
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: trid
Description: Qt-based file type identification tool
 FileInsight is a Qt-based file type identifier using libmagic (i.e. what powers
 the Unix 'file' command), QMimeDatabase, and TrID as its backends.
